/* .footerContainer{
display: flex;
height: 454px;
width: 100vw;
background-color: #1F1F1F;
}

.footerLogo{
display: flex;
margin-top: 72px;
margin-right: 1083px;
margin-bottom: 338px;
margin-left: 104px;
width: 253px;
height: 44px;
left: 104px;
top: 72px;
}

.descricao{
display: flex;
width: 307px;
height: 78px;
left: 100px;
top: 151px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

/* white */
/* color: #FFFFFF; */


footer{
    background-color: #1F1F1F;
    
}

.container{
    display: flex;
    width: 100vw;
    height: 454px;
}

.footerLogo{
    margin-top: 72px;
    margin-right: 1083px;
    /* margin-bottom: 338px; */
    margin-left: 4px;

}

.descricao{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. */
margin-top: 35px;
margin-right: 1033px;
/* margin-bottom: 225px; */
/* margin-left: 100px;     */
width: 307px;
height: 78px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

/* white */
color: #FFFFFF;


}

.icones{
margin-top: 40px;
display: flex;
margin-right: 1215.88px;
/* margin-left: 100px; */
justify-content: space-between;
gap: 35.9px;


}

hr{

width: 1240px;
height: 1px;
/* left: 100px; */
top: 384px;

/* white */
background: #FFFFFF;
opacity: 0.3;

}

.infoTitulo{
    /* Informação */

/* position: absolute; */
display: flex ;
width: 99px;
height: 22px;
margin-bottom: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

/* white */
color: #FFFFFF;


}

.infoLinks{
    /* Sobre Drip Store Segurança Wishlist Blog Trabalhe conosco Meus Pedidos */
display: flex;
width: 135px;
height: 228px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 38px;
flex-direction: column;
/* or 238% */

/* white */
color: #FFFFFF;


}

.infoDiv{
display: flex;
flex-direction: column;
margin-top: 72px;
}

.categoriasDiv{
display: flex;
flex-direction: column;
margin-top: 72px;
}

.categoriasTitulo{
width: 96px;
height: 22px;
left: 849px;
top: 72px;
margin-bottom: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

/* white */
color: #FFFFFF;



}

.categoriasLinks{
    /* Sobre Drip Store Segurança Wishlist Blog Trabalhe conosco Meus Pedidos */
display: flex;
width: 135px;
height: 228px;
left: 612px;
top: 122px;
flex-direction: column;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 38px;
/* or 238% */

/* white */
color: #FFFFFF;


    
}

.contatoDiv{
display: flex;
flex-direction: column;
margin-top: 72px;
margin-left: 1113;
}

.contatoTitulo{
/* Contato */

width: 71px;
height: 22px;
margin-bottom: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

/* white */
color: #FFFFFF;


}

.contatoEndereco{
/* Av. Santos Dumont, 1510 - 1 andar - Aldeota, Fortaleza - CE, 60150-161 */

width: 231px;
height: 78px;
top: 122px;
margin-bottom: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

/* white */
color: #FFFFFF;


}

.contatoNumero{
    /* Av. Santos Dumont, 1510 - 1 andar - Aldeota, Fortaleza - CE, 60150-161 */


width: 231px;
height: 78px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

/* white */
color: #FFFFFF;



}

.copyrightFooter{

display: flex;
width: 140px;
height: 24px;
margin-top: 408px;
margin-bottom: 22px;
justify-content: center;
align-items: center;
text-wrap: nowrap;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;
color: #FFFFFF;

mix-blend-mode: normal;

}